@import "./shared/fonts";

// Components
@import "./components/header";
@import "./components/basepage.scss";

// Pages
@import "./index";

.absolute {
  position: absolute;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", "Helvetica";
}
